[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/dev.insiderlab.ru/lexer
ExecStart=/var/www/dev.insiderlab.ru/server/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn-dev.sock \
          lexer.wsgi:application

[Install]
WantedBy=multi-user.target